<a href="https://colab.research.google.com/github/DietDrPorter/HSISmart/blob/main/rename_columns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
#input path to the excel sheet you want to below in the '' 
#to upload the excel sheet you want to use, click the file with the up arrow in the left window
df_master = pd.read_excel('/content/TestSheetMaster.xlsx')

In [4]:
#Uncomment the line below if you want to see the original dataframe
#print(df_master)

  IDQ2     Random ID  Master Subject Id
0  yes  197831432241                  1
1  yes  948046551202                  2
2  yes  268865912081                  3
3  yes  361989944917                  4
4  yes  576487921481                  5
5  yes  462528740894                  6

In [1]:
#In the function below choose which columns you want to rename 'IDQ2' or 'Random Id', you can add or remove columns as you like 
#choose the new name you want 'IDQ2" to be, it is currently 'newName1', 'Random ID' is currently 'newName2'
df_master.rename(columns={'IDQ2': 'newName1', 'Random ID': 'newName2'}, inplace=True)

NameError: ignored

In [7]:
#uncomment the line below if you want to see the dataframe with the new names
#print(df_master)

  newName1      newName2  Master Subject Id
0      yes  197831432241                  1
1      yes  948046551202                  2
2      yes  268865912081                  3
3      yes  361989944917                  4
4      yes  576487921481                  5
5      yes  462528740894                  6