<a href="https://colab.research.google.com/github/DietDrPorter/HSISmart/blob/main/repeated_attempts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df_q = pd.read_excel('/content/SMART STEM Workshop Questionnaire_July 29, 2021_13.21 (1).xlsx') #replace with the file you want to run

In [3]:
print(df_q)

                                             StartDate  ...                                               Q271
0                                           Start Date  ...  What is your father's highest level of education?
1    {"ImportId":"startDate","timeZone":"America/De...  ...                              {"ImportId":"QID273"}
2                                  2020-08-14 14:09:54  ...                            high school diploma/GED
3                                  2020-08-14 14:10:16  ...                                   some high school
4                                  2020-08-14 22:02:07  ...                                   some high school
..                                                 ...  ...                                                ...
129                                2021-01-19 12:32:10  ...                                            unknown
130                                2021-01-26 19:22:32  ...                                                NaN
131                                2021-01-26 19:25:50  ...                                            unknown
132                                2021-01-26 21:28:32  ...  graduate or professional degree (e.g. M.D., J....
133                                2021-01-26 22:29:30  ...                                                NaN

[134 rows x 73 columns]

In [4]:
df_q['RepeatedAttempts'] = df_q.duplicated(subset=['IPAddress']) #replace IPAddress with the column you want to see is duplicated (ex. Random ID)

In [5]:
i = df_q[df_q.RepeatedAttempts == False].index

In [6]:
df_q = df_q.drop(i)

In [7]:
print(df_q)

               StartDate  ... RepeatedAttempts
62   2020-08-15 12:37:56  ...             True
65   2020-08-17 16:57:33  ...             True
69   2020-08-15 11:53:02  ...             True
86   2020-08-29 10:46:52  ...             True
92   2020-08-31 12:07:32  ...             True
94   2020-09-01 22:21:41  ...             True
95   2020-09-01 22:22:18  ...             True
96   2020-09-02 10:54:26  ...             True
97   2020-09-02 14:17:12  ...             True
103  2020-09-03 13:11:58  ...             True
106  2020-09-03 23:13:03  ...             True
110  2020-09-04 11:41:44  ...             True
111  2020-09-04 10:56:54  ...             True
122  2020-09-05 00:48:46  ...             True
125  2020-09-04 18:47:19  ...             True
132  2021-01-26 21:28:32  ...             True

[16 rows x 74 columns]

In [8]:
j = df_q[df_q.Progress == 100].index

In [9]:
df_q = df_q.drop(j)

In [10]:
print(df_q)

               StartDate              EndDate  ... Q271 RepeatedAttempts
69   2020-08-15 11:53:02  2020-08-15 11:59:08  ...  NaN             True
125  2020-09-04 18:47:19  2020-09-04 18:47:38  ...  NaN             True

[2 rows x 74 columns]

In [11]:
df_q.to_excel('RepeatedAttempts.xlsx')